<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessObject.Properties.Settings.PlaceHolderConnectionString1"
            connectionString="Data Source=NHAT\SQLEXPRESS;Initial Catalog=PlaceHolder;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessObject.Properties.Settings.APPDATAConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\APPDATA.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessObject.Properties.Settings.QLHSConnectionString"
            connectionString="Data Source=TAI-PC;Initial Catalog=QLHS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>